.input-group-stack > div:not(:last-child) > div:first-child > * {
  margin-bottom: -1px;
}

/* sharp bottom left corner of upper items */
.input-group-stack > div:not(:last-child) > div:first-child,
.input-group-stack > div:not(:last-child) > div:first-child > .input-group-text:first-child {
  border-end-start-radius: 0px;
}

/* sharp bottom right corner of upper items */
.input-group-stack > div:not(:last-child) button {
  border-end-end-radius: 0px;
}

/* sharp top left corner of lower items */
.input-group-stack div:not(:first-child) > div:first-child,
.input-group-stack div:not(:first-child) > div:first-child .input-group-text:first-child {
  border-start-start-radius: 0px;
}

/* sharp top right corner of lower items */
.input-group-stack div:not(:first-child) button {
  border-start-end-radius: 0px;
}

/* TODO - this is a hack to hide the table selected column in bootstrap-view-next */
.b-table-selection-column {
  display: none;
}

.up-small-title {
  font-size: 87.5%;
  font-weight: normal;
  text-transform: uppercase;
}
